{
  "presets": [["@babel/preset-env", { "modules": false }]],
  "plugins": [
    ["@babel/plugin-transform-runtime", {
      "helpers": false,
      "regenerator": true
    }],
    ["component", {
      "libraryName": "element-ui",
      "styleLibraryName": "theme-chalk"
    }]
  ]
}
